<!DOCTYPE html>
<html>
    <head>
        <title>TFL Tracker</title>

        <!-- Latest compiled and minified CSS & JS -->
        <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="style.css">
        
    </head>
    <body>
        <div class="container">
            <div id="app" class="text-center">
                <h1 class="bg-info">TFL Tracker</h1>
                <station-search
                    v-if="searchingStation == true"></station-search>
                <line-chooser
                    v-if="(searchingLines == true)"
                    :lines="station.info.lines"></line-chooser>
                <result-wrapper v-if="(displayingResult == true)"
                    :result="result"
                    :station="station.name"
                    :line="line"
                    :line-color="lineColor"></result-wrapper>
            </div>
        </div>
        
        <script type="text/x-template" id="station-search">
            <div>                
                <div class="search">
                    <input type="text" class="form-control"
                        placeholder="Station (e.g. North Acton)"
                        v-model="q" v-on:keyup="typeahead">
                </div>
                <table class="table table-hover">
                    <thead>
                        <th class="text-center">Station Name</th>
                        <th class="text-center">Lines Supported</th>
                    </thead>
                    <tbody>
                    <station-result
                        v-for="station in stations"
                        :station="station"></station-result>
                    </tbody>
                </table>
            </div>
        </script>

        <script type="text/x-template" id="station-result">
            <tr v-on:click="pickStation" class="station-result">
                <td>{{ station.name }}</p>
                <td>
                    <kbd style="margin-right: 5px;"
                        v-for="l in station.info.lines">
                        {{ l.line }} ({{ l.code }})
                    </kbd>
                </td>
            </tr>
        </script>

        <script type="text/x-template" id="line-chooser">
            <div>
                <h3 class="search">Choose a Line</h3>
                <table class="table table-hover search">
                    <thead>
                        <th class="text-center">Line Name</th>
                        <th class="text-center">Line Color</th>
                    </thead>
                    <tbody>
                        <line-choice v-for="line in lines"
                            :line-name="line.line"
                            :line-code="line.code"
                            :line-color="line.color"
                            key="line.color"></line-choice>
                    </tbody>
                </table>
            </div>
        </script>

        <script type="text/x-template" id="line-choice">
            <tr v-on:click="choose">
                <td>{{ lineName }} ({{ lineCode }})</td>
                <td :style="{ width: 40+'px', backgroundColor: lineColor }"></td>
            </tr>
        </script>

        <script type="text/x-template" id="result">
            <div>
                <h2 :style="{ backgroundColor: lineColor, color: 'white'}">
                    {{ station }}<br /><br />{{ line }} Line
                </h2>
                <div>
                    <result-platform v-for="platform in result"
                        :platform="platform"></result-platform>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="result-platform">
            <div>
                <h3 class="bg-warning">{{ platform.name }}</h3>
                <p style="margin-top: 15px;" v-if="(platform.trains.length == 0)">
                    No trains are scheduled to arrive.
                </p>
                <table class="table">
                    <thead v-if="(platform.trains.length != 0)">
                        <th class="text-center">ETA</th>
                        <th class="text-center">Current Location</th>
                        <th class="text-center">Final Destination</th>
                    </thead>
                    <tbody>
                        <result-train :train="platform.trains.pop()"></result-train>
                        <result-train v-for="train in platform.trains"
                            :train="train"></result-train>
                    </tbody>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="result-train">
            <tr>
                <td>{{ eta }}</td>
                <td>{{ at }}</td>
                <td>{{ dest }}</b>
            </div>
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://unpkg.com/vue@2.3.3"></script>
        <script src="index.js"></script>
    </body>
</html>